{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}

{% block style %}

  input[type="text"], input[type="email"], textarea.textarea.form-control {
    border-width: 2px;
    border-style: solid;
  }

    /* Ustawia wysokość na 100% dla całego dokumentu */
    html, body {
        height: 100%;
        margin: 0;
        background-color: #F5F5DC;
    }


  input[type="text"] {
    color: #d0e7f9;
    background-color: #d0e7f9;
  }

  input[type="text"]:focus {
        background-color: #d0e7f9;  /* Zmieniamy kolor tła */
        title: "Proszę podać poprawny adres e-mail.";
  }

  input[type="email"] {
    color: #d0e7f9;
    background-color: #d0e7f9;
    title: "Proszę podać poprawny adres e-mail.";
  }

  input[type="email"]:focus {
        background-color: #d0e7f9;  /* Zmieniamy kolor tła */
  }

  .textarea {
    background-color: #d0e7f9;
}

  .textarea:focus {
    background-color: #d0e7f9;
}

{% endblock %}



{% load crispy_forms_tags %}

{% block content %}
		<div id="contact">
			<br>
			<u><h2 align="left">Chcesz się skontaktować ze mną? Zostaw wiadomość.</h2></u>
			<div class="row">
				<div class="col">
				<form method="post" action="/contact/" class="form-group custom-rounded">
					{% csrf_token %}
					{{form|crispy}}
					<input type="submit" value="Wyślij" class="btn btn-outline-dark btn-lg">
				</form>
				</div>
			</div>

			<div class="row">
				<div class="col-8">
					{% if messages %}
						{% for message in messages %}
							<div class="{{message.tags}}">{{message}}</div><br>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>


{% endblock %}
