{% block style %}

<style>
        /* Footer Basic Styles */
    footer {
        background-color: #343a40; /* Kolor tła stopki */
        color: white; /* Kolor tekstu */
        text-align: center; /* Wyśrodkowanie tekstu */
    }

    footer a {
        color: #b39ddb;
        text-decoration: none;
        transition: color 0.3s ease, transform 0.3s ease; /* Add smooth color and transform transitions */
    }

    footer a:hover {
        color: #b39ddb; /* Change color on hover */
        text-decoration: none;
        transform: translateY(-3px); /* Slightly raise the link on hover */
    }

    footer .row {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;            /* Internal padding */
    }

    /* Social Media Icon Styling */
    .social-icon {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 1.2rem;
        transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and transform transitions */
    }

    .social-icon:hover {
        color: #ff5733; /* Change icon color on hover */
        transform: scale(1.2); /* Enlarge the icon slightly on hover */
    }

    /* Footer Headings */
    footer h4 {
        font-size: 1.2rem;
        margin: 2px;
        color: #ffffff;
        text-decoration: underline;
    }


    /* Optional: Custom underline animation for links */
    footer a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #ff5733;
        transition: width 0.3s ease;
    }

    footer a:hover::after {
        width: 100%; /* Full underline on hover */
    }

    /* Styl dla linków do mediów społecznościowych */
    .social-links a {
        display: block;
        margin-bottom: 2px; /* Dodaje odstęp między linkami */
    }

    /* Dostosowanie kolorów dla poszczególnych platform */
    .social-links a[href*="facebook"] { color: #b39ddb; }
    .social-links a[href*="twitter"] { color: #1da1f2; }
    .social-links a[href*="instagram"] { color: #e1306c; }
    .social-links a[href*="linkedin"] { color: #b39ddb; }

    a[href*="danielpalacz.pythonanywhere.com"] {
        color: #cba6d6; /* Lawendowy */
    }

    a[href*="danielpalacz.pythonanywhere.com"]:hover {
        color: #cba6d6;
    }

    .custom-footer {
        color: #b39ddb;
        display: block;
    }


</style>

{% endblock %}

<!-- templates/footer.html -->
<footer class="bg-dark py-2">
    <div class="container">
        <div class="row mt-0 mb-0">
            <!-- About Section -->
            <div class="col-md-3 col-sm-12 mb-2">
                <h4 class="mb-1" style="font-weight: bold;">Misja:</h4>
                <p class="custom-footer">Pomoc w odkrywaniu Polski!</p>
            </div>

            <div class="col-md-3 col-sm-12 social-links mb-2">
                <h4 class="mb-1" style="font-weight: bold;">Zasady serwisu:</h4>
                    <a href="{% url 'polishness:statute' %}" target="_blank">Regulamin</a>
                    <a href="{% url 'polishness:privacy_policy' %}" target="_blank">Polityka prywatności</a>
            </div>

            <!-- Navigation Links -->
            <div class="col-md-3 col-sm-12 mb-2">
                <h4 class="mb-1" style="font-weight: bold;">Przydatne linki:</h4>
                    <a class="custom-footer" href="https://www.gov.pl/" target="_blank" aria-label="www.gov.pl">Serwis Rzeczypospolitej Polskiej </a>
                    <a class="custom-footer" href="https://stat.gov.pl/" target="_blank" aria-label="stat.gov.pl">Główny Urząd Statystyczny</a>
                    <a class="custom-footer" href="https://zabytek.pl/pl/" target="_blank" aria-label="zabytek.pl">Zabytek.pl</a>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-3 col-sm-12 social-links mb-2">
                <h4 class="mb-1" style="font-weight: bold;">Inne strony:</h4>
                    <a href="https://www.facebook.com/profile.php?id=61567268455849" target="_blank" aria-label="Facebook">
                        <i class="fab fa-facebook"></i> poznajmypolske.pl
                    </a>
                    <a href="https://www.linkedin.com/in/daniel-palacz-17184aa6/" target="_blank" aria-label="LinkedIn">
                        <i class="fab fa-linkedin"></i> LinkedIn (prywatny)
                    </a>
            </div>

        </div>

    </div>
</footer>
