{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}


{% block content %}

{% if photo_link %}

       <div class="row m-3">
           <div class="col-12">
               <h3 class="text-start">Cześć! Tu Daniel, a to jest moja strona o Polsce. Wizją jest tutaj pomoc w odkrywaniu naszego kraju poprzez dostarczanie prostych, ciekawych narzędzi.</h3>
           </div>
       </div>
       <hr>

       <div class="row m-3">
           <div class="col">
                <h3 class="text-start">Poniżej losowe polskie zdjęcie (unsplash.com).</h3>
                <a href="{{photo_link}}" download="pobrane_zdjecie.jpg">
                    <img class="card-img-top" src="{{photo_link}}" alt="Pobierz zdjęcie">
                </a>
           </div>
       </div>
        <strong style="text-align: right; display: block;"><a href="{{photo_author_link}}?utm_source=DjangoPolishness&utm_medium=referral">{{photo_author}}</a> (<a href="https://unsplash.com/?utm_source=DjangoPolishness&utm_medium=referral">unsplash</a>)</strong>
       <br>


{% else %}
    <div class="row m-3">
        <div class="col-12 col-md-8 col-md-4">
            <h3 class="text-start">Cześć! Tu Daniel, a to jest moja strona o Polsce.</h3>
                </div>
            </div>
            <hr>
{% endif %}

{% endblock %}
