{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}

{% block style %}
    .card:hover {
        border-color: #000;
        transform: scale(1.02); /* Slightly enlarge the brand */
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }

  .btn-primary:hover {
    color: yellow;
    text-decoration: underline;
   }

    .card {
        background-color: #E6E6FA;
        border-radius: 8px;
        transition: all 0.3s ease;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid #000;
    }

    table tbody tr:nth-child(even) {
        background-color: #E6E6FA; /* Mniej intensywny, delikatny niebieski */
    }


{% endblock %}


{% block content %}


<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <!-- Title of the Monument -->
                <h2 class="card-title" style="font-weight: bold;">{{ monument.name|capfirst }}</h2>

                <!-- Table with monument details -->
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <tbody>
                            <tr>
                                <td class="fw-bold text-end">Funkcja</td>
                                <td>{{ monument.function }}</td>
                            </tr>
<!--                            <tr>-->
<!--                                <td class="fw-bold text-end">Numer identyfikacyjny zabytku</td>-->
<!--                                <td>{{ monument.library_id }}</td>-->
<!--                            </tr>-->
                            <tr>
                                <td class="fw-bold text-end">Forma ochrony</td>
                                <td>{{ monument.security_form }}</td>
                            </tr>
<!--                            <tr>-->
<!--                                <td class="fw-bold text-end">Dokładność położenia</td>-->
<!--                                <td>{{ monument.location_accuracy }}</td>-->
<!--                            </tr>-->
                            <tr>
                                <td class="fw-bold text-end">Obszar AZP</td>
                                <td>{% if monument.field_azp == "nan" %}-{% else %}{{ monument.field_azp }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold text-end">Numer stanowiska</td>
                                <td>{% if monument.position_area_number == "nan" %}-{% else %}{{ monument.position_area_number }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold text-end">Chronologia</td>
                                <td>{{ monument.chronology }}</td>
                            </tr>
<!--                            <tr>-->
<!--                                <td class="fw-bold text-end">Wykaz dokumentów</td>-->
<!--                                <td>{{ monument.documents }}</td>-->
<!--                            </tr>-->
                            <tr>
                                <td class="fw-bold text-end">Data wpisu</td>
                                <td>{{ monument.registration_date }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold text-end">Województwo</td>
                                <td>{{ monument.voivodeship }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold text-end">Powiat</td>
                                <td>{{ monument.county }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold text-end">Gmina</td>
                                <td>{{ monument.parish }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold text-end">Miejscowość</td>
                                <td>{{ monument.locality }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-custom">
                    <p>{{response_ai}}</p>
                </div>

            </div>
            <!-- Button with call-to-action -->
                <a href="https://zabytek.pl/pl/obiekty/zabytek?inspire_id={{monument.library_id}}&rejestr=rejestr-zabytk%C3%B3w" class="btn btn-dark btn-lg mt-3" style="font-weight: bold; text-align: center;">Informacje na portalu zabytek.pl.</a>
                <a href="{% url 'polishness:monument_archeo_single_ai' monument.id %}" class="btn btn-dark btn-lg mt-1" style="font-weight: bold; text-align: center;">Zapytaj sztucznej inteligencji o więcej informacji.</a>
                {% if monument.latitude and not monument.latitude == "nan" %}
                    {% if monument.longitude and not monument.longitude == "nan" %}
                        <a href="https://www.google.com/maps/@?api=1&map_action=map&center={{monument.latitude}},{{monument.longitude}}&zoom=15&basemap=satellite" class="btn btn-dark btn-lg mt-1" style="font-weight: bold; text-align: center;">Link do miejsca na mapach Google.</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'polishness:monument_archeo_single_photos' monument.id %}" class="btn btn-dark btn-lg mt-1" style="font-weight: bold; text-align: center;">Wyszukaj zdjęcia dotyczące tego miejsca.</a>

        </div>
    </div>
</div>
<br>



{% endblock %}
