{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}

{% block style %}
    .card:hover {
        border-color: #000;
        transform: scale(1.02); /* Slightly enlarge the brand */
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }


    .card {
        background-color: #F5DECF;
        border-radius: 8px;
        transition: all 0.3s ease;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid #000;
    }

    img {
        max-width: 100%;
        height: 100%;
    }

    .text-custom {
        background-color: #F5DECF;
    }

    @media only screen and (max-width: 992px) {
     .success {
        font-size: 14px;
     }
    }



{% endblock %}


{% block content %}

<div id="photo_discovery">

    {% if not photo_google_links %}
    <div class="row m-2 p-2">
        <div class="col">
            <div class="error">Niestety, nie pobrano żadnych zdjęć.</div><br>
        </div>
    </div>
    {% else %}
    <div class="row mt-2 p-2">
        <div class="col">
            <div class="success">Tutaj fotoodkrywamy, losujemy w różny sposób zdjęcia na temat Polski i cieszymy oko albo nie. Na dole znajdziesz frazę użytą do wyszukiwania.</div>
        </div>
    </div>
    <div class="row m-2">
    {% for photo_link in photo_google_links %}
                     <div class="col-lg-6">
                        <div class="card mb-4 box-shadow" style="border: 2px solid #000; padding: 2px;">

                            <div class="card-body">
                                <div>
                                    <img src="{{photo_link}}" alt="" width="1280" height="1280">
                                </div>
                            </div>
                        </div>
                    </div>

    {% endfor %}
    </div>

    {% endif %}


   <small class="m-4" style="text-align: right; display: block;">Zdjęcia były wyszukiwane dla frazy: <b>'{{phrase}}'</b>.</small>

</div>

{% endblock %}
