{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}



{% block style %}

    table.table-bordered,
    table.table-bordered th,
    table.table-bordered td {
        border: 1px solid #000 !important; /* Wymuszenie czarnych obramowań */
        border-collapse: collapse; /* Zapewnienie łączenia krawędzi */
    }

    table thead {
        background-color: #87CEEB; /* Intensywny niebieski */
        border: 1px solid #000;
        border-bottom: 2px solid #000; /* Czarna dolna krawędź */
    }

    table, th, td {
        border: 1px solid #000; /* Czarna obramówka wokół tabeli, nagłówków i komórek */
    }

{% endblock %}


{% block content %}

                {% if not stats_data %}
                <h4 style="font-weight: bold;" class="mt-4">Dla zadanych parametrów wyszukiwania nie odnaleziono danych statystycznych.</h4>

                {% else %}
                <h4 style="font-weight: bold;" class="mt-4">{{ field_variable_name|capfirst }}:</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Przekrój</th>
                                <th>Wymiar-1 / pozycja-1</th>
                                <th>Wymiar-2 / pozycja-2</th>
                                <th>Okres</th>
                                <th>Sposób reprezentacji (miara)</th>
                                <th>Wartość</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for stats in stats_data %}
                            <tr>
                                <td>{{section_name}}</td>
                                <td>{{stats.dimension_description}}</td>
                                <td>{{stats.dimension_description_beta}}</td>
                                <td>{{period_description}}</td>
                                <td>{{stats.representation_description}}</td>
                                <td>{{stats.wartosc}}</td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

{% endblock %}
