{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}


{% block content %}

    <div class="row mt-4">
         <div class="col">
            <h4 class="text-start">Dedykowana przeglądarka dla obszaru <strong>'{{field_variable_name}}'</strong>:</h4>
         </div>
    </div>
    <hr>

    <form action="{% url 'polishness:poland_in_numbers_field_browser' field_id field_variable_id field_variable_name %}" method="post" class="custom-rounded custom-form">

        {% csrf_token %}

    <div class="row">
        <!-- Pierwsza kolumna - Przekrój -->
        <div class="col-12 col-md-6">
            <fieldset class="p-2 border custom-fieldset">
                <label for="przekroj__przekrojid__okresid" style="text-decoration: underline; font-weight: bold;">Przekrój [okres]:</label>
                <select class="form-control custom-rounded" id="przekroj__przekrojid__okresid" name="przekroj__przekrojid__okresid" aria-label="Przekrój okres" required title="Proszę wybrać opcję w tym polu.">
                    <option value="" disabled selected>Wybierz przekrój [okres]</option>
                    {% for item_section_period in section_periods %}
                        <option value="{{item_section_period.nazwa_przekroj}}__{{item_section_period.id_przekroj}}__{{item_section_period.id_okres}}__{{item_section_period.opis_okres}}">
                            {{item_section_period.nazwa_przekroj}} [{{item_section_period.opis_okres}}]
                        </option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>


        <!-- Druga kolumna - Wybór roku -->
        <div class="col-12 col-md-6 mb-3">
            <fieldset class="p-2 border custom-fieldset">
                <label for="rok" style="text-decoration: underline; font-weight: bold;">Rok:</label>
                <select class="form-control custom-rounded" id="rok" name="rok" aria-label="Wybierz rok" required title="Proszę wybrać opcję w tym polu.">
                    <option value="" disabled selected>Wybierz rok</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
    </div>

    <!-- Przycisk Submit -->
    <div class="row">
        <div class="col-12 text-center">
            <input type="submit" value="Przeglądaj" class="btn btn-dark btn-lg mt-3 custom-rounded" >
        </div>
    </div>
    </form>




{% endblock %}
