{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}


{% block content %}

                <!-- Title of the Monument -->
                <h1 style="font-weight: bold;" class="p-2">{{ field_variable_name|capfirst }}:</h1>

                <!-- Table with monument details -->
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Przekrój</th>
                                <th>Wymiar</th>
                                <th>Okres</th>
                                <th>Sposób reprezentacji (miara)</th>
                                <th>Wartość</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for stats in stats_data %}
                            <tr>
                                <td>{{section_name}}</td>
                                <td>{{stats.dimension_description}}</td>
                                <td>{{period_description}}</td>
                                <td>{{stats.representation_description}}</td>
                                <td>{{stats.wartosc}}</td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>

{% endblock %}
