{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}



{% block style %}

    /* Styl dla kontenera tabeli, aby umożliwić przewijanie poziome */
    .table-responsive {
        overflow-x: auto !important;  /* Wymuszenie przewijania poziomego */
        overflow-y: hidden;           /* Ukrycie przewijania pionowego, jeśli nie jest potrzebne */
        width: 100%;                  /* Upewnij się, że kontener wypełnia całą szerokość */
        -webkit-overflow-scrolling: touch; /* Płynne przewijanie na urządzeniach mobilnych */
        border-radius: 10px; /* Zaokrąglenie kontenera */
        border: 3px solid #000; /* Opcjonalne obramowanie kontenera */
        background-color: #fff; /* Ustaw kolor tła kontenera */
    }


    .table {
        border-collapse: collapse; /* Umożliwia zaokrąglenie */
        margin: 0; /* Upewnij się, że nie ma marginesu */
        border: 3px solid #000; /* Opcjonalne obramowanie kontenera */
        width: 100%; /* Ustawienie szerokości tabeli na 100% */
        table-layout: auto; /* Ustawienie równej szerokości kolumn */
        min-width: 600px;          /* Minimalna szerokość, aby wymusić przewijanie */
    }

    .table th, .table td {
        border: 1px solid #000; /* Kolor obramowania komórek */
        padding: 8px; /* Dodaj padding dla lepszej prezentacji */
    }

    /* Specjalne zaokrąglenia dla rogów */
    .table th:first-child {
        border-top-left-radius: 10px; /* Lewy górny róg */
    }

    .table th:last-child {
        border-top-right-radius: 10px; /* Prawy górny róg */
    }

    .table tr:last-child td:first-child {
        border-bottom-left-radius: 10px; /* Lewy dolny róg */
    }

    .table tr:last-child td:last-child {
        border-bottom-right-radius: 10px; /* Prawy dolny róg */
    }


    th, td {
      border: 1px solid #000; /* Add borders if needed */
    }

    table.table-bordered,
    table.table-bordered th,
    table.table-bordered td {
        border: 1px solid #000 !important; /* Wymuszenie czarnych obramowań */
        border-collapse: collapse; /* Zapewnienie łączenia krawędzi */
    }

    table thead {
        background-color: #87CEEB; /* Intensywny niebieski */
        border: 1px solid #000;
        border-bottom: 4px solid #000; /* Czarna dolna krawędź */
        vertical-align: middle; /* Wyśrodkowanie pionowe */
    }

    .table thead th {
        vertical-align: middle; /* Wyśrodkowanie pionowe */
    }

    table, th, td {
        border: 1px solid #000; /* Czarna obramówka wokół tabeli, nagłówków i komórek */
    }


    /* Media queries dla mniejszych ekranów */
    @media (max-width: 768px) {
        .table th, .table td {
            padding: 4px; /* Zmniejszenie paddingu dla telefonów */
            font-size: 14px; /* Zmniejszenie rozmiaru czcionki */
        }

        .table {
            font-size: 12px; /* Zmniejszenie całej czcionki tabeli */
            width: 100%; /* Zapewnienie pełnej szerokości na telefonach */
        }

        /* Opcjonalne zawijanie tekstu w komórkach */
        .table th, .table td {
            word-break: break-word; /* Zawijanie treści, gdy jest zbyt długa */
        }
    }

    .table td:last-child {
        width: 80px; /* Dostosuj szerokość według swoich potrzeb */
    }

    .table th:last-child {
        width: 80px; /* Dopasuj szerokość nagłówka do szerokości ostatniej kolumny */
    }

{% endblock %}


{% block content %}

                {% if not stats_data %}
                <h4 style="font-weight: bold;" class="mt-4">Dla zadanych parametrów wyszukiwania nie odnaleziono danych statystycznych.</h4>

                {% else %}
                <h4 style="font-weight: bold;" class="mt-4">{{ field_variable_name|capfirst }}:</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Przekrój</th>
                                <th>Wymiar (1)</th>
                                <th>Wymiar (2)</th>
                                <th>Okres czasu</th>
                                <th>Miara danych</th>
                                <th>Wartość</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for stats in stats_data %}
                            <tr>
                                <td>{{section_name}}</td>
                                <td>{{stats.dimension_description}}</td>
                                <td>{{stats.dimension_description_beta}}</td>
                                <td>{{period_description}}</td>
                                <td>{{stats.representation_description}}</td>
                                {% if stats.wartosc == 0.0 %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{stats.wartosc}}</td>
                                {% endif %}
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

{% endblock %}
