{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}


{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h4 class="text-start">W tym miejscu przedstawiane są dane z <b><a style="color: black; href="https://api-dbw.stat.gov.pl/apidocs/index.html">API Dziedzinowych Baz Wiedzy</a></b> Głównego Urzędu Statystycznego.  </h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-8 col-md-4">
            <h4 class="text-start">Wybierz poniżej kategorię, która Cię interesuje.</h4>
        </div>
    </div>
    <hr>

    <div class="row m-2 p-2">
    {% for root_field in root_fields %}
                     <div class="col-md-4">
                        <div class="card mb-4 box-shadow" style="border: 2px solid #000; padding: 2px;">

                            <div class="card-body">
                                 <h4 class=""><a href="{% url 'polishness:poland_in_numbers_fields' root_field.field_id root_field.field_name %}">{{root_field.field_name}}</a></h4>
                            </div>
                        </div>
                    </div>

    {% endfor %}
    </div>

{% endblock %}
