{% extends "polishness/base.html" %}

{% block title %}
poznajmypolske.pl
{% endblock %}


{% block style %}

    .text-custom {
        background-color: #F5F5DC;
        border: 2px solid #000;;
        border-radius: 10px;
    }
    .text-custom:hover {
        border-color: #000;
        transform: scale(1.02); /* Slightly enlarge the brand */
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }
    .card {
        background-color: #F5F5DC;
        border-radius: 8px;
        transition: all 0.3s ease;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid #000;
    }

    p {
        color: #000;
    }

  .custom-list li {
    font-size: 16px; /* Zwiększa rozmiar tekstu, co wpływa na rozmiar kropki */
  }

  /* Opcjonalnie, aby powiększyć tylko kropkę bez zmiany tekstu */
  .custom-list li::marker {
    font-size: 1.5em; /* Powiększa tylko kropkę */
  }


{% endblock %}

{% block content %}

        <!-- Page Header -->
        <div class="row mt-4">
            <h1 style="font-weight: bold;">Polityka prywatności serwisu „poznajmypolske.pl”</h1>
        </div>

        <div class="row mt-4">
            <br>
        </div>

        <div class="row mt-4">
            <h3 style="font-weight: bold;">I. Definicje:</h3>
        </div>

        <div class="row mt-1">
            <ul class="custom-list">
                <li>Administrator / Usługodawca – Daniel Palacz, osoba prowadząca serwis „poznajmypolske.pl”. Daniel Palacz jednocześnie posiada zarejestrowaną jednoosobową działalność gospodarczą PYX Daniel Palacz (NIP: 6372087213), jednakże w sensie prawnym niniejszy Serwis jest prowadzony niekomercyjnie przez osobę prywatną. Kontakt jest możliwy przez formularz kontaktowy lub adres email contact@poznajmypolske.pl.</li>
                <li>Cookies (ciasteczka) – pliki służące identyfikacji przeglądarki Użytkownika, w celu optymalizacji działania serwisu.</li>
                <li>Dane automatyczne – dane zbierane podczas wizyty Użytkownika, np. adres IP, typ przeglądarki, które są anonimowe i mogą służyć analizie statystyk.</li>
                <li>Dane osobowe – oznaczają informacje o zidentyfikowanej lub możliwej do zidentyfikowania osobie fizycznej („osobie, której dane dotyczą”); możliwa do zidentyfikowania osoba fizyczna to osoba, którą można bezpośrednio lub pośrednio zidentyfikować, w szczególności na podstawie adresu email.</li>
                <li>Inne usługi - inne bezpłatne usługi elektroniczne wykonywane w ramach Serwisu, np usługa 'Kontakt' pozwalająca skontaktować się z Usługodawcą.</li>
                <li>Polityka Prywatności - zasady przetwarzania i ochrony danych osobowych przekazanych przez Użytkowników przy użytkowaniu serwisu „poznajmypolske.pl”, wypełnienie obowiązku informacyjnego RODO.</li>
                <li>Serwis – witryna internetowa https://poznajmypolske.pl dostarczająca proste narzędzia wspierające działania krajoznawcze na terenie Polski.</li>
                <li>RODO - Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych).</li>
                <li>Usługi elektroniczne - wszystkie usługi świadczone na odległość w ramach Serwisu.</li>
                <li>Usługi informacyjne - bezpłatne usługi elektroniczne wykonywane w ramach Serwisu, polegające na przedstawianiu Użytkownikowi różnorakich treści krajoznawczych na terenie Polski.</li>
                <li>Użytkownik – osoba fizyczna, która odwiedza Serwis i korzysta z dostępnych w nim Usług informacyjnych.</li>
            </ul>

        </div>

        <div class="row mt-4">
            <h3 style="font-weight: bold;">II. Postanowienia ogólne:</h3>
        </div>
        <div class="row mt-1">
            <ul class="custom-list">
                <li>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez Użytkowników w związku z korzystaniem z Serwisu „poznajmypolske.pl”. Celem danego dokumentu jest również wypełnienie obowiązku informacyjnego RODO.</li>
                <li>Na podstawie Art. 37 RODO, Administrator nie powołał Inspektora Ochrony Danych. W sprawach dotyczących przetwarzania danych, w tym danych osobowych, należy kontaktować się bezpośrednio z Administratorem.</li>
            </ul>

        </div>

        <div class="row mt-4">
            <h3 style="font-weight: bold;">III. Zbierane/przetwarzane dane:</h3>
        </div>

        <div class="row mt-1">
            <h5 class="mt-2">IIIa. Dane automatyczne</h5>
        </div>



        <div class="row mt-1">
            <ul class="custom-list">
                <li>W trakcie korzystania z Serwisu pewne dane są automatycznie logowane. Są to dane takie jak adres IP, nazwa domeny, typ przeglądarki, typ systemu operacyjnego itp. Dane te są zbierane anonimowo (nie są danymi osobowymi) i mogą być wykorzystywane do analizy zachowań użytkowników na naszej stronie internetowej oraz do optymalizacji i poprawy jej funkcjonowania. Nie przekazujemy tych danych stronom trzecim.</li>
            </ul>

        </div>


        <div class="row mt-1">
            <h5 class="mt-2">IIIb. Dane osobowe</h5>
        </div>

        <div class="row mt-1">
            <ul class="custom-list">
                <li>W przypadku skorzystania z usługi 'Kontakt' Użytkownik powinien podać swój adres email umożliwiając zwrotny kontakt z nim. Tym samym Użytkownik wyraża zgodę by Administrator przetwarzał jego danych osobowe (adres email) na potrzeby komunikacji z nim. Administrator jest zobowiązany do nie prztwarzania w inny sposób danych Użytkwnika, w szczególności do nie przekazywania tych danych stronom trzecim.</li>
            </ul>

        </div>

        <div class="row mt-1">
            <h5 class="mt-2">IIIc. Czas przetwarzania danych</h5>
        </div>

        <div class="row mt-1">
            <ul class="custom-list">
                <li>Dane automatyczne / Dane osobowe są przechowywane przez Administratora w celu prowadzenia serwisu przez czas nieokreślony.</li>
            </ul>

        </div>


        <div class="row mt-1">
            <h5 class="mt-2">IIId. Prawa związane z przetwarzaniem danych osobowych</h5>
        </div>

        <div class="row mt-1">
            <ul class="custom-list">
                <li>Prawo dostępu/sprostowania do danych osobowych. Użytkownikom przysługuje prawo uzyskania dostępu/sprostowania do swoich danych osobowych, realizowane na żądanie złożone do Administratora.</li>
                <li>Prawo do usunięcia danych osobowych. Użytkownikom przysługuje prawo żądania od Administratora niezwłocznego usunięcia danych osobowych, realizowane na żądanie złożone do Administratora.</li>
                <li>Prawo wniesienia skargi. Użytkownikom przysługuje prawo wniesienia skargi do organu nadzorczego zajmującego się ochroną danych osobowych.</li>
            </ul>

        </div>



        <div class="row mt-4">
            <h3 style="font-weight: bold;">IV. Wykorzystanie ciasteczek (“cookies”):</h3>
        </div>
        <div class="row mt-1">
            <ul class="custom-list">
                <li>Serwis „poznajmypolske.pl” może wykorzystywać ciasteczka, które służą identyfikacji Twojej przeglądarki podczas korzystania z naszej strony, abyśmy mogli lepiej dostosować treści do Twoich potrzeb. Ciasteczka nie zawierają żadnych danych osobowych i są stosowane wyłącznie w celu optymalizacji strony pod kątem bezpieczeństwa. Korzystanie z serwisu oznacza wyrażenie zgody na takie technologiczne rozwiązanie.</li>
            </ul>

        </div>


        <div class="row mt-4">
            <h3 style="font-weight: bold;">V. Kontakt:</h3>
        </div>
        <div class="row mt-1">
            <ul class="custom-list">
                <li>Imię i nazwisko: Daniel Palacz</li>
                <li>Adres e-mail: contact@poznajmypolske.pl</li>
            </ul>

        </div>


        <div class="row mt-4">
            <h3 style="font-weight: bold;">VI. Zmiany Polityki prywatności:</h3>
        </div>
        <div class="row m-1">
            <ul class="custom-list">
                <li>Administrator Serwisu „poznajmypolske.pl” zastrzega sobie prawo do zmian w Polityce prywatności serwisu. Wszelkie zmiany będą obowiązywać od momentu ich opublikowania. Niniejszy Polityka prywatności zaczyna obowiązywać od 9 listopada 2024 r.</li>
            </ul>

        </div>


{% endblock %}



{% block script %}

{% endblock %}
